

@(goals :Seq[Goal], userID: String, user_goalForm: Form[User_goals])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import helper._
@import org.mongodb.scala.FindObservable
@import org.mongodb.scala.Document
@import b3.vertical.fieldConstructor

@form(action = helper.CSRF(routes.GoalController.saveUserGoal())) {
    @for(goal <- goals){
        <div class="custom-control custom-radio">
            <input id="goal_id" name="goal_id" type="radio" value="@goal._id">
            @goal.name
        </div>
    }
    <input id="user_id" name="user_id" type="hidden" value="@userID">
    <input type="submit" class="btn btn-default" value="submit">
}


<script>
        $('.your-checkbox').prop('indeterminate', true)
</script>